<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>miniModuleId</key>
    <string>wxb55a76dd1460f5ce</string>
    <key>miniModulePath</key>
    <string>module</string>
    <key>sdkKey</key>
    <string>0E5V7r1NuM</string>
    <key>sdkSecret</key>
    <string>NP1KBZ9pwwnmMeSvLO1MgQ</string>
    <key>enableDebugLog</key>
    <false/>
    <key>privacy</key>
    <dict>
      <key>enable</key>
      <false/>
      <key>template</key>
      <string>configs/defaultPrivacy.json</string>
    </dict>
    <key>enableVConsole</key>
    <string>open</string>
  </dict>
</plist>