<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oneid1</key>
	<dict>
		<key>lbs</key>
		<dict>
			<key>alt</key>
			<string>3.456</string>
			<key>lat</key>
			<string>2.345</string>
			<key>lon</key>
			<string>1.123</string>
		</dict>
	</dict>
	<key>domain3</key>
	<array>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-gtc.getui.net</string>
				<string>https://b-gtc.gepush.com</string>
			</array>
			<key>as</key>
			<array>
				<string>https://gtc.getui.net</string>
				<string>https://gtc.gepush.com</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://192.168.1.1</string>
			</array>
			<key>Type</key>
			<string>1</string>
			<key>Name</key>
			<string>GTC</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-gi.gepush.com</string>
			</array>
			<key>as</key>
			<array>
				<string>https://gi.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-gi.gepush.com</string>
			</array>
			<key>Type</key>
			<string>2</string>
			<key>Name</key>
			<string>个像</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>http://b-gs.getui.com</string>
			</array>
			<key>as</key>
			<array>
				<string>http://gs.gepush.com</string>
			</array>
			<key>cs</key>
			<array>
				<string>http://c-gs.getui.com</string>
			</array>
			<key>Type</key>
			<string>3</string>
			<key>Name</key>
			<string>个数</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-gy.getui.net</string>
			</array>
			<key>as</key>
			<array>
				<string>https://gy.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-gy.getui.net</string>
			</array>
			<key>Type</key>
			<string>4</string>
			<key>Name</key>
			<string>个验</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>httcs://lc.getui.com</string>
			</array>
			<key>as</key>
			<array>
				<string>httcs://gy.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>httcs://c-gy.gepush.com</string>
			</array>
			<key>Type</key>
			<string>5</string>
			<key>Name</key>
			<string>变现</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-ido.getui.net</string>
			</array>
			<key>as</key>
			<array>
				<string>https://ido.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-ido.getui.net</string>
			</array>
			<key>Type</key>
			<string>6</string>
			<key>Name</key>
			<string>个数IDO</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-ido.getui.net</string>
			</array>
			<key>as</key>
			<array>
				<string>https://geshu-ld.getui.com:5003/oneidUpload</string>
			</array>
			<key>cs</key>
			<array>
				<string>http://192.168.10.254:31952</string>
			</array>
			<key>Type</key>
			<string>7</string>
			<key>Name</key>
			<string>ONEID</string>
		</dict>
	</array>
	<key>domain22</key>
	<array>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-gtc.getui.net</string>
				<string>https://b-gtc.gepush.com</string>
			</array>
			<key>as</key>
			<array>
				<string>https://gtc.getui.net</string>
				<string>https://gtc.gepush.com</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-gtc.getui.net</string>
				<string>https://c-gtc.gepush.com</string>
			</array>
			<key>Type</key>
			<string>1</string>
			<key>Name</key>
			<string>GTC</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-gi.gepush.com</string>
			</array>
			<key>as</key>
			<array>
				<string>https://gi.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-gi.gepush.com</string>
			</array>
			<key>Type</key>
			<string>2</string>
			<key>Name</key>
			<string>个像</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>http://b-gs.getui.com</string>
			</array>
			<key>as</key>
			<array>
				<string>http://gs.gepush.com</string>
			</array>
			<key>cs</key>
			<array>
				<string>http://c-gs.getui.com</string>
			</array>
			<key>Type</key>
			<string>3</string>
			<key>Name</key>
			<string>个数</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-gy.getui.net</string>
			</array>
			<key>as</key>
			<array>
				<string>https://gy.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-gy.getui.net</string>
			</array>
			<key>Type</key>
			<string>4</string>
			<key>Name</key>
			<string>个验</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>httcs://lc.getui.com</string>
			</array>
			<key>as</key>
			<array>
				<string>httcs://gy.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>httcs://c-gy.gepush.com</string>
			</array>
			<key>Type</key>
			<string>5</string>
			<key>Name</key>
			<string>变现</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-ido.getui.net</string>
			</array>
			<key>as</key>
			<array>
				<string>https://ido.getui.net</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-ido.getui.net</string>
			</array>
			<key>Type</key>
			<string>6</string>
			<key>Name</key>
			<string>个数IDO</string>
		</dict>
		<dict>
			<key>bs</key>
			<array>
				<string>https://b-ido.getui.net</string>
			</array>
			<key>as</key>
			<array>
				<string>https://geshu-ld.getui.com:5003</string>
			</array>
			<key>cs</key>
			<array>
				<string>https://c-oneid1.gepush.com</string>
				<string>https://c-oneid.getui.net</string>
			</array>
			<key>Type</key>
			<string>7</string>
			<key>Name</key>
			<string>ONEID</string>
		</dict>
	</array>
	<key>key</key>
	<string>f8ab6e67f0853fd9386415fd97cc9cce</string>
	<key>sdklog</key>
	<string>GTCDebugFileAndOutput</string>
</dict>
</plist>
